body {
  background-color:pink; 
}

h2 {
  background-color: yellow;
  font-size: 28px;
  border: 2px solid black;
  text-align: center;
}

h3 {
  background-color: yellow;
  border: 2px solid black;
  text-align: center;
  }

img {
  padding-left: 100px;
}
